# Application
NODE_ENV=development
PORT=5000

# Database
DATABASE_URL="postgresql://USER:HEREISPASSWORD@localhost:5432/DBNAME?schema=public"
PRISMA_CLIENT_ENGINE_TYPE=library

# JWT
JWT_SECRET=sha56
JWT_EXPIRES_IN=1d

# Email (Nodemailer SMTP)
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=
# OTP
OTP_EXPIRES_MINUTES=10